fastapi
uvicorn

# For databases
# SQLAlchemy is an orm which will communicate to postgres
sqlalchemy
# Adaptor which is required for connection between sqlalchemy and postgres
psycopg2

# For env vars
python-dotenv

# For email validation
pydantic[email]

# For Hashing
passlib[bcrypt]

